*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h2{
    color: white;
}
.mainContan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FFF;
    text-align: center;
    border-radius: 100% 0% 0% 0% / 55% 0% 0% 0%;
}
.mainContan .main{
    position: relative;
    border-radius: 50px;
    width: 30%;
    height:60%;
    background-image: url(./bg2.png);

}
.mainContan .main h2{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}
.mainContan .main .input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
    position: relative;
    top: 60px;
    outline: none;
}
.mainContan .main .input input{
    position: relative;
    width: 80%;
}
.mainContan .main .lbttn{
    position: relative;
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mainContan .main .lbttn #login{
    width: 40%;
    font-size: 19px;
    font-weight: 700;
    padding: 5px;
}
.mainContan .main .linkl{
    position: relative;
    top: 135px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px !important;
    text-decoration: none;
    font-weight: 700;
}
.mainContan .main .linkl p a{
    text-decoration: none;
}
.mainContan .main .linkl p a:hover{
    color: blue;
    text-decoration: underline;
}
.mainContan .main .para{
    position: relative;
    top: 35px;
    left: 20px;
    font-size: 17px;
    font-weight: 600;
    color: red;
}
@media (max-width:400px) {
    .mainContan .main{
        width: 100%;
        height: 400px;    
    }
    .mainContan .main .input {
        position: relative;
        top: 60px;
    }
    .mainContan .main .input input{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .mainContan .main .lbttn #login{
        width: 50%;
       
    }
}
#login{
    background-color: goldenrod;
    color: white;
}